.img-wrapper {
  background-image: url("../../../../../assets/img/home_bg_lg_alt.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: calc(100vh - 64px);
  left: 0;
  position: fixed;
  right: 0;
  z-index: 1;
  margin-top: 64px;
}

.main-wrapper {
  height: calc(100vh - 64px);
  background: rgb(37, 23, 18);
  background: linear-gradient(
    0deg,
    rgba(37, 23, 18, 0.68) 0%,
    rgba(68, 43, 33, 0) 100%
  );
  padding-top: 40px;
  top: 0;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 2;
  margin-top: 64px;
}

@media screen and(min-width: 768px) {
  .img-wrapper {
    padding-top: 80px;
  }

  .main-wrapper {
    padding-top: 80px;
  }
}

.heading {
  font-size: 3rem;
  color: #ffffff;
}

.text {
  font-weight: 600;
  color: #ffffff;
  line-height: 20px;
}
