/* Chrome, Safari, Edge, Opera */
#postal::-webkit-outer-spin-button,
#postal::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#postal[type="number"] {
  -moz-appearance: textfield;
}
