<form [formGroup]="resumeForm" (ngSubmit)="onSubmit()">
  <h3 class="mb-2 mt-4">Información básica</h3>

  <div formGroupName="personalInfo">
    <div class="form-group">
      <label for="nombre" class="form-group__label">Nombre y apellido</label>
      <input
        pInputText
        type="text"
        id="nombre"
        formControlName="nombre"
        aria-describedby="nombre-help"
        class="form-group__input"
      />
      <small
        id="nombre-help"
        class="form-group__helper form-group__helper--invalid"
        *ngIf="personalInfo['nombre'].invalid && submitted"
        >Completá este campo.</small
      >
    </div>

    <div class="form-group">
      <label for="fechaNacimiento" class="form-group__label"
        >Fecha de nacimiento</label
      >
      <input
        pInputText
        type="date"
        id="fechaNacimiento"
        formControlName="fechaNacimiento"
        aria-describedby="fechaNacimiento-help"
        class="form-group__input"
      />
      <small
        id="fechaNacimiento-help"
        class="form-group__helper form-group__helper--invalid"
        *ngIf="personalInfo['fechaNacimiento'].invalid && submitted"
        >Completá este campo.</small
      >
    </div>

    <div class="row">
      <div class="col-md-4 pe-md-2">
        <div class="form-group">
          <label for="tipoDocumento" class="form-group__label"
            >Tipo de Identificación</label
          >

          <p-dropdown
            inputId="tipoDocumento"
            styleClass="form-group__input"
            formControlName="tipoDocumento"
            aria-describedby="tipoDocumento-help"
          ></p-dropdown>

          <small
            id="tipoDocumento-help"
            class="form-group__helper form-group__helper--invalid"
            *ngIf="personalInfo['tipoDocumento'].invalid && submitted"
            >Completá este campo.</small
          >
        </div>
      </div>

      <div class="col-md ps-md-0">
        <div class="form-group">
          <label for="documento" class="form-group__label"
            >Número de Identificación</label
          >
          <input
            pInputText
            type="number"
            id="documento"
            formControlName="documento"
            aria-describedby="documento-help"
            class="form-group__input"
          />
          <small
            id="documento-help"
            class="form-group__helper form-group__helper--invalid"
            *ngIf="personalInfo['documento'].invalid && submitted"
            >Completá este campo.</small
          >
        </div>
      </div>
    </div>
  </div>

  <h3 class="mb-2 mt-4">Contacto</h3>

  <div formGroupName="contactInfo">
    <div class="form-group">
      <label for="email" class="form-group__label">Correo electrónico</label>
      <input
        pInputText
        type="email"
        id="email"
        formControlName="email"
        aria-describedby="email-help"
        class="form-group__input"
        readonly
      />
      <small
        id="email-help"
        class="form-group__helper form-group__helper--invalid"
        *ngIf="contactInfo['email'].invalid && submitted"
        >Completá este campo.</small
      >
    </div>

    <div class="form-group">
      <label for="codArea" class="form-group__label">Número de teléfono</label>

      <input
        pInputText
        type="tel"
        id="telefono"
        formControlName="telefono"
        aria-describedby="telefono-help"
        class="form-group__input"
      />

      <small
        id="telefono-help"
        class="form-group__helper form-group__helper--invalid"
        *ngIf="contactInfo['telefono'].invalid && submitted"
        >Completá este campo.</small
      >
    </div>
  </div>

  <h3 class="mb-2 mt-4">Dirección</h3>

  <div formGroupName="adress">
    <div class="form-group">
      <label for="direccion" class="form-group__label">Dirección</label>
      <input
        pInputText
        type="text"
        id="direccion"
        formControlName="direccion"
        aria-describedby="direccion-help"
        class="form-group__input"
      />
      <small class="form-group__helper">Calle y número</small>

      <small
        id="direccion-help"
        class="form-group__helper form-group__helper--invalid"
        *ngIf="adress['direccion'].invalid && submitted"
        >Completá este campo.</small
      >
    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="postal" class="form-group__label">Código postal</label>
          <input
            pInputText
            type="number"
            id="postal"
            formControlName="postal"
            aria-describedby="postal-help"
            class="form-group__input"
            (input)="limitCharactersPostal($event.target.value)"
          />

          <small
            id="postal-help"
            class="form-group__helper form-group__helper--invalid"
            *ngIf="adress['postal'].invalid && submitted"
            >Completá este campo.</small
          >
        </div>
      </div>

      <div class="col-md">
        <div class="form-group">
          <label for="provincia" class="form-group__label">Provincia</label>
          <p-dropdown
            inputId="provincia"
            styleClass="form-group__input"
            formControlName="provincia"
          ></p-dropdown>
          <small
            id="provincia-help"
            class="form-group__helper form-group__helper--invalid"
            *ngIf="adress['provincia'].invalid && submitted"
            >Completá este campo.</small
          >
        </div>
      </div>

      <div class="col-md">
        <div class="form-group">
          <label for="localidad" class="form-group__label">Localidad</label>
          <input
            pInputText
            type="text"
            id="localidad"
            formControlName="localidad"
            aria-describedby="localidad-help"
            class="form-group__input"
          />
          <small
            id="localidad-help"
            class="form-group__helper form-group__helper--invalid"
            *ngIf="adress['localidad'].invalid && submitted"
            >Completá este campo.</small
          >
        </div>
      </div>
    </div>
  </div>

  <div class="row my-5 justify-content-end">
    <div class="col-auto">
      <button
        pButton
        type="submit"
        icon="pi pi-save"
        label="Guardar cambios"
        [disabled]="resumeForm.pristine"
      ></button>
    </div>
  </div>
</form>
