<ul class="mt-4 p-0" *ngIf="employmentItems.length; else message">
  <li *ngFor="let item of employmentItems">
    <app-employment-list-item
      [employmentItem]="item"
    ></app-employment-list-item>
  </li>
</ul>

<ng-template #message>
  <p-messages
    [(value)]="msgs"
    [closable]="false"
    styleClass="mt-4"
  ></p-messages>
</ng-template>

<app-abm-employment-item
  *ngIf="addingItem"
  [selectedItem]="selectedItem"
  (cancelarItem)="addingItem = false; setEmptyMessage()"
  (nuevoItem)="handleNewItem($event)"
></app-abm-employment-item>

<div class="row justify-content-center mt-5">
  <div class="col-auto">
    <button
      pButton
      class="p-button-text"
      icon="pi pi-plus"
      label="Agregar experiencia laboral"
      type="button"
      id="btnNewItem"
      (click)="handleClickBtnNewItem()"
    ></button>
  </div>
</div>
