<form [formGroup]="academicDataForm" (ngSubmit)="onSubmit()">
  <p-panel header="Nuevo estudio">
    <div class="form-group">
      <label for="centroEducativo" class="form-group__label"
        >Centro educativo</label
      >
      <input
        pInputText
        type="text"
        id="centroEducativo"
        formControlName="centroEducativo"
        aria-describedby="centroEducativo-help"
        class="form-group__input"
      />
      <small
        id="centroEducativo-help"
        class="form-group__helper form-group__helper--invalid"
        *ngIf="f['centroEducativo'].invalid && submitted"
        >Completa este campo.</small
      >
    </div>

    <div class="form-group">
      <label for="nivel" class="form-group__label">Nivel de estudios</label>

      <p-dropdown
        [options]="levels"
        inputId="nivel"
        formControlName="nivel"
        styleClass="form-group__input"
        aria-describedby="nivel-help"
      ></p-dropdown>

      <small
        id="nivel-help"
        class="form-group__helper form-group__helper--invalid"
        *ngIf="f['nivel'].invalid && submitted"
        >Completa este campo.</small
      >
    </div>

    <div class="form-group">
      <label class="form-group__label" for="estado">Estado</label>

      <p-dropdown
        [options]="states"
        inputId="estado"
        formControlName="estado"
        styleClass="form-group__input"
        aria-describedby="estado-help"
        (onChange)="handleChangeEstado()"
      ></p-dropdown>

      <small
        id="estado-help"
        class="form-group__helper form-group__helper--invalid"
        *ngIf="f['estado'].invalid && submitted"
        >Completa este campo.</small
      >
    </div>

    <div class="form-group">
      <label for="mesDesde" class="form-group__label">Desde</label>

      <div class="row">
        <div class="col-md pe-md-2">
          <p-dropdown
            appDropdownMonth
            styleClass="form-group__input"
            aria-describedby="periodoDesde-help"
            formControlName="mesDesde"
            placeholder="Mes"
            appendTo="body"
          ></p-dropdown>
        </div>
        <div class="col-md-5 ps-md-0 mt-2 mt-md-0">
          <p-dropdown
            #anioDesde
            appDropdownYear
            styleClass="form-group__input"
            aria-describedby="periodoDesde-help"
            formControlName="anioDesde"
            placeholder="Año"
            appendTo="body"
            (onChange)="handleChangeAnioDesde($event.value)"
          ></p-dropdown>
        </div>
      </div>

      <small
        id="periodoDesde-help"
        class="form-group__helper form-group__helper--invalid"
        *ngIf="(f['mesDesde'].invalid || f['anioDesde'].invalid) && submitted"
        >Completa este campo.</small
      >
    </div>

    <div class="form-group">
      <label
        for="mesHasta"
        [ngClass]="{
          'form-group__label': true,
          'form-group__label--required': f.mesHasta.enabled
        }"
        >Hasta</label
      >

      <div class="row">
        <div class="col-md pe-md-2">
          <p-dropdown
            appDropdownMonth
            formControlName="mesHasta"
            styleClass="form-group__input"
            aria-describedby="periodoHasta-help"
            placeholder="Mes"
            appendTo="body"
          ></p-dropdown>
        </div>
        <div class="col-md-5 ps-md-0 mt-2 mt-md-0">
          <p-dropdown
            #anioHasta
            appDropdownYear
            formControlName="anioHasta"
            styleClass="form-group__input"
            aria-describedby="periodoHasta-help"
            placeholder="Año"
            appendTo="body"
          ></p-dropdown>
        </div>
      </div>

      <small
        *ngIf="(f['mesHasta'].invalid || f['anioHasta'].invalid) && submitted"
        id="periodoHasta-help"
        class="form-group__helper form-group__helper--invalid"
        >Completa este campo.</small
      >
    </div>

    <ng-template pTemplate="footer">
      <div class="row justify-content-end">
        <div class="col-auto">
          <button
            pButton
            class="p-button-text"
            id="btnCancelar"
            label="Cancelar"
            type="button"
            (click)="cancelarItem.emit()"
          ></button>
        </div>

        <div class="col-auto">
          <button
            *ngIf="state === 'new'; else btnEditar"
            pButton
            id="btnGuardar"
            icon="pi pi-save"
            label="Guardar"
            type="submit"
          ></button>

          <ng-template #btnEditar>
            <button
              pButton
              id="btnEditar"
              icon="pi pi-save"
              label="Editar"
              type="button"
              (click)="handleClickBtnEditar()"
            ></button>
          </ng-template>
        </div>
      </div>
    </ng-template>
  </p-panel>
</form>
